<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>Location data is needed when Tables with the GPS column type are in use. Location data is therefore not collected by default and can be ignored if not necesary for your usecase. Location data is only collected when the app is in use.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location data is needed when Tables with the GPS column type are in use. Location data is therefore not collected by default and can be ignored if not necesary for your usecase. Location data is only collected when the app is in use.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location data is needed when Tables with the GPS column type are in use. Location data is therefore not collected by default and can be ignored if not necesary for your usecase. Location data is only collected when the app is in use.</string>
</dict>
</plist>
